
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
  margin-bottom: 0 !important;
  font-family: "Noto Sans", sans-serif;
}
body {
  line-height: normal !important;
}
.container {
  // max-width: 1440px !important;
  margin: 0 auto !important;
  --bs-gutter-x: 0 !important;
}
