header {
  background-color: $darkBlue !important  ;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px; 

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      .left-img {
        width: 81px;
        height: 81px;
        margin-left: 18px;
        @media (max-width: 576px) {
          width: 80px;
        }

        img {
          width: 100%;
        }
      }
      .icon-text {
        color: $white;
        font-weight: 700;
        display: inline;
        width: 54%;
        font-kerning: none;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        @media (max-width: 576px) {
          font-size: 12px;
        }
      }
    }
    .navbar {
      display: flex;
      align-items: center;
      gap: 35px;
      @media (max-width: 576px) {
        flex-direction: column;
        display: none;
      }

      a {
        color: $white;
        font-weight: 700;
        font-size: 15 px;
      }
    }
  }
}
