header {
  background-color: $darkBlue !important  ;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;  
      .left-img {
        width: 102px;
        height: 102px;
        margin-left: 18px;

        img {
          width: 100%;
        }
      }
      .icon-text {
        color: $white;
        font-weight: 700;
        display: inline;
        width: 54%;
        font-kerning: none;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
      }
      
    }
    .navbar{
        display: flex;
        align-items: center;
        gap: 35px;
        a{
            color: $white;
            font-weight: 700;
            font-size: 18px;
        }
    }
  }
}
