.education {
  background-color: #130624;
  .education-text {
      padding: 60px 20px;

    h2 {
      color: #fff;
      font-size: 25px;
      font-weight: 700;
    }
    p {
      color: #fff;
      margin-top: 25px;
      font-weight: 700;
    }
  }
  .partnership-section {
    margin-top: 40px;
  }
  h1 {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }
  .partnership-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    form {      
      width: 50%;
      margin-top: 40px;
      @media (max-width: 576px) {
        width: 100%;
      }
      .form-group {
          margin-top: 20px;
        input {
            outline: none;
            border: none;
            border-bottom: 2px solid #fff;
            padding-bottom: 10px;
            width: 100%;
            background-color: #130624;
            color: #fff;
          }
          ::placeholder {
            color: #fff;
            font-size: 17px;
            font-weight: 700;
          }
          button {
            border: none;
            outline: none;
            border-radius: 20px;
            background-color: #fff;
            color: black;
            padding: 10px 20px;
            font-weight: 700;
            float: right;
            
          }
      }
      .appText{
        margin-top: 100px;
      }
    }
  }
}
